
*{
    user-select:none;
}
body {
    
    /*background-color:RGB(220,181,156);*/
    
    width:100%;
}
    
#main{
    
    width:100%;
    height:1200px;
    
}


#header{
    margin:2px auto;
    width:99%;
    height:100px;
    background-image:url('pics/head1.jpg');
    
}

#footer{
    
    margin:5px auto;
    width:99%;
    overflow:hidden;
    
}


#Hname{
    font:bold 70px 'Century Schoolbook';
    margin:2px;
    color:RGB(89,60,65);
    display:inline-block;
}



input[type='button']
{
    width:95px;
    height:60px;
    float:right;
    margin:15px 5px; 
    border-radius:50%;
    font:bold 20px tahoma;
    opacity:0.5;
    border:0px;
        
}

input[type=button]:hover
{
    cursor:pointer;
    opacity:1;
}

#copy{
    background-color:black;
    font:bold 20px tahoma;
    color:white;
    text-align:center;
    margin:5px;
    width:100%;
}

#content{
    margin:2px auto;
    width:99%;
    height:2100px;
    
}


h3{
    text-align:left;
    font-weight:bold;
    margin:20px;
    font:bold 50px tahoma;
}
#pic{
    margin:10px 100px 10px 500px;
    width:300px;
    height:400px;
    
}
#para{
    margin:20px;
    text-justify:auto;
    font:normal 25px tahoma;
    
}

#price{
    text-align:center;
}
#nprice{
    font:bold 20px tahoma;
}
input[type=submit]{
    border:none;
    width:180px;
    height:50px;
    border-radius:30px;
    font:bold 20px tahoma;

}

input[type=submit]:hover{
    cursor:pointer;
}